TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
SHAREPOINT_HOSTNAME=
SHAREPOINT_SITE_PATH=
SHAREPOINT_HR_KB_DRIVE_ID=
KB_LIBRARY_ALLOWLIST=
KB_LIBRARY_PATTERN=
SEARCH_SERVICE_NAME=
SEARCH_API_KEY=
SEARCH_INDEX_NAME=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=
AZURE_OPENAI_CHAT_DEPLOYMENT=
KB_API_SECRET=